*{
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width:100%;
    max-width:470px;
    background: linear-gradient(150deg, #1bf0b7, #d69238);
    color: #fff;
    margin: 5px auto 0;
    border-radius: 80px;
    padding:40px 35px;
    text-align: center;
}
.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    background:transparent;
    color:#062b1a;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:25px;
}
.search button{
    border:0;
    outline:0;
    background:rgb(255, 255, 255);
    border-radius:50%;
    width:60px;
    height:60px;
    cursor: pointer;
}
.search button img{
    width:25px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h1{
    color:black;
    font-size:50px;
    font-weight: 500;
}
.weather h2{
    color:black;
   font-size:35px;
   font-weight:400;
   margin-top: -10px; 
}
.details{
     display:flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 20px;
     margin-top:50px;
}
.col{
    font-size:18px;
    color:black;
    margin:0;
}
.col img{
    width:60px;
    margin-bottom:-25px;
}
.Humidity, .Wind{
    font-size:34px;
    margin-bottom:-10px;
}
.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}